<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
    <ion-list *ngIf="vacances">
      <ion-header>Vacances {{ test }}</ion-header>
      <ion-item *ngFor="let item of vacances" style="padding: 5px;">
        <ion-label>{{ item.titol }}</ion-label>
        <ion-icon slot="end" name="trash-bin-outline" (click)="deleteVacanca(item)"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-content>
      <ion-card *ngFor="let item of vacances">
        <ion-card-header>
          <ion-card-subtitle>{{item.ciutat}}</ion-card-subtitle>
          <ion-card-title>{{item.titol}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.comentaris}}
        </ion-card-content>
      </ion-card>
    </ion-content>
 
    <ion-button expand="block" (click)="presentModal()">Add Vacanca</ion-button>



</ion-content>
